header{
    width: 100%;
    float:left;
    background-color:darkgray;
    color:black;
    // padding: 2%;
    position: fixed;;
    margin-top: auto;
    top:0%;
    
}
body{
    background-color: blanchedalmond;
}
footer{
    width:100%;
   position:fixed;
    background-color: darkgray;
    bottom: 0%;
}